.StatusCard {
  &__wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    z-index: 2;

    &.hidden {
      display: none;
    }
  }

  &__container {
    @include mdc-elevation(6);
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in,
      opacity 0.4s ease-in;
    cursor: pointer;
    color: white;
    background: $color-primary;
    border-radius: 7px;
    padding: 20px;
    width: calc(100% - 20px);
    max-width: 600px;
    z-index: 2;
    &.hidden {
      opacity: 0;
      transform: scale(0.7);
    }

    &:hover {
      @include mdc-elevation(9);
      transform: scale(1.05);
    }

    &.loading.offline {
      background: $color-primary;
    }

    &.offline {
      background: #ba3c1c;
    }
  }

  &__infos {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    position: relative;

    > div {
      flex: 1;
      position: relative;
      padding: 0 25px;
    }

    &--title {
      color: $color-secondary;
      font-weight: bold;
    }

    &:after {
      content: '';
      position: absolute;
      top: -15px;
      height: 2px;
      background: $color-secondary;
      width: 90%;
      left: 0;
      transform: translateX(5%);
    }
  }

  &--title {
    font-size: 1.3rem;
    position: relative;
    margin-bottom: 5px;
    text-align: center;

    > .loading-text {
      width: 60%;
      display: inline-block;
    }
  }

  &--status {
    text-align: center;

    > .loading-text {
      width: 60%;
      display: inline-block;
    }
  }

  &__infoItem {
    display: flex;
    align-items: center;
    margin-top: 15px;

    &--icon {
      width: 24px;
      height: 24px;
      line-height: 24px;
      color: $color-secondary;
      margin-right: 10px;
    }

    &--text > .loading-text {
      width: 100px;
    }
  }
}
